body {
  background-color: hsla(6, 100%, 94%, .1);
}

header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}

.small-logo {
  height: 12vh;
}

.small-logout {
  margin-left: 60vw;
}

.search-icon {
  height: 5vh;
  margin-right: 4vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  border-radius: 50%;
  box-shadow: 2px 2px 2px darkgray;
}

.features-container {
  display: flex;
  justify-content: center;
}

.profile-features {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 50vh;
}

.top-row-features {
  display: flex;
}

.features-photos {
  height: 25vh;
  width: 42.5vw;
  background-color: grey;
  border-top-left-radius: 4%;
}

.features-discussions {
  height: 25vh;
  width: 42.5vw;
  background-color: aqua;
  border-top-right-radius: 4%;
}

.bottom-row-features {
  display: flex;
}

.features-box {
  height: 25vh;
  width: 28.3vw;
  background-color: pink;
  border-bottom-left-radius: 4%;
}

.features-hive {
  height: 25vh;
  width: 28.4vw;
  background-color: maroon;
}

.features-starred {
  height: 25vh;
  width: 28.3vw;
  background-color: goldenrod;
  border-bottom-right-radius: 4%;
}

.feature {
  display: flex;
  justify-content: center;
}


button {
  background-color: mistyrose;
  border: none;
  box-shadow: 1px 1px 1px darkgray;
  font-weight: bold;
  color: gray;
  height: 6vh;
}

button:hover {
  background-color: hsla(6, 100%, 94%, .4)
}

h3  {
  font-family: 'Parisienne', cursive;
}

.post {
  border: solid 5px mistyrose;
  width: 60vw;
  align-self: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 3px 3px 3px gray;
}

main {
  display: flex;
  flex-direction: column;
}

.postAuthorPic {
  height: 2rem;
}

.postAuthor {
    font-family:'Parisienne', cursive;
}

.postTime {
  font-size: .65rem;
  font-family: sans-serif;
}

.postContent {
    font-family: sans-serif;
}

.likeImage {
  height: 1.5rem;
}

.like {
  display: flex;
  flex-direction: row;
}

.likeAmount {
  margin: .25rem;
}

.postInfo {
  display: flex;
  flex-wrap: 
}
