body {
  background-color: hsla(6, 100%, 94%, .1);

}
.wrapper {
  height: 100vh;
  /*width: 40vw;*/
  display: flex;
  justify-content: center;
  align-items: center;


}
.logOutBox {
  height: 25vh;
  width: 50vw;
  background-color: white;
  border: solid 5px mistyrose;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;

}
h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  font-family:'Parisienne', cursive;
  margin: .75rem;
}
header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 100%;
}
.small-logo {
  height: 12vh;
}

.small-login {
  margin-left: 50vw;
}

.search-icon {
  height: 5vh;
  margin-right: 4vw;
}

.banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  background-image: url('AB-Honey-Bee.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
}

.banner-popup {
  border: solid 5px mistyrose;
  width: 40vw;
  align-self: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  box-shadow: 3px 3px 3px gray;
}

h1 {
  font-size: 3rem;
  font-family:'Parisienne', cursive;
  margin: .75rem;

}

h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  margin: .75rem;
  color: gray;
}

h3 {
  font-size: 1rem;
  font-family: sans-serif;
  margin: .75rem;
  color: gray;
}

button {
  background-color: mistyrose;
  border: none;
  box-shadow: 1px 1px 1px darkgray;
  font-weight: bold;
  color: gray;
  height: 6vh;
}

button:hover {
  background-color: hsla(6, 100%, 94%, .4);
}
