body {
  background-color: hsla(6, 100%, 94%, .1);
}

header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}

.small-logo {
  height: 12vh;
}

.small-logout {
  margin-left: 60vw;
}

.search-icon {
  height: 5vh;
  margin-right: 4vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  border-radius: 50%;
  box-shadow: 2px 2px 2px darkgray;
}

/*.features-container {
  display: flex;
  justify-content: center;
}

.profile-features {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 50vh;
}

.top-row-features {
  display: flex;
}

.features-photos {
  height: 25vh;
  width: 42.5vw;
  background-color: grey;
  border-top-left-radius: 4%;
}

.features-discussions {
  height: 25vh;
  width: 42.5vw;
  background-color: aqua;
  border-top-right-radius: 4%;
}

.bottom-row-features {
  display: flex;
}

.features-box {
  height: 25vh;
  width: 28.3vw;
  background-color: pink;
  border-bottom-left-radius: 4%;
}

.features-hive {
  background-color: maroon;
}

.features-starred {
  height: 25vh;
  width: 28.3vw;
  background-color: goldenrod;
  border-bottom-right-radius: 4%;
}
*/

.bottom-row-features, .top-row-features {
  display: flex;
}

.upper-row-features {
  margin-left: 250px;
  margin-top: -220px;
}
.bottom-row-features {
  margin-left: 550px;
  margin-top: -80px;
}

.top-row-features{
  margin-left: 100px;
  margin-top: -80px
}
button {
  background-color: mistyrose;
  border: none;
  box-shadow: 1px 1px 1px darkgray;
  font-weight: bold;
  color: gray;
  height: 6vh;
}

button:hover {
  background-color: hsla(6, 100%, 94%, .4)
}

h3  {
  font-family: 'Parisienne', cursive;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: goldenrod;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid goldenrod;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid goldenrod;
}

/*.features-starred{
  background-color: goldenrod;
}*/

/*.features-hive {
  background-color: maroon;
}*/

.small-community {
  margin-left: 50vw;
}
